<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="upsi.edu.mocos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".model.MiscSetting"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme">

        <service android:name=".model.LocationService" />

        <activity
            android:name=".activity.ClickToStartActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IndCoun.IndCounActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.GrpCoun.GrpCounActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.logBook.LogBookActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.InternInfoActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.logBook.InnerListActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.UserInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.IndCoun.IndCounScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.GrpCoun.GrpCounScoreActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AdmMgt.AdmMgtActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaseAnal.CaseAnalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ipaulpro.afilechooser.FileChooserActivity"
            android:enabled="@bool/use_activity"
            android:exported="true"
            android:icon="@drawable/ic_chooser"
            android:label="@string/choose_file">
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="*/*" />
            </intent-filter>
            />
        </activity>
        <activity
            android:name=".activity.ProfDev.ProfDevActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PsyEdu.PsyEduActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PsyTest.PsyTestActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RefCons.RefConsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Reflect.ReflectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AdmMgt.AdmMgtScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CaseAnal.CaseAnalScoreActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.logBook.LogBookScoreActivity" />
        <activity
            android:name=".activity.ProfDev.ProfDevScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.Reflect.ReflectScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PsyEdu.PsyEduScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.PsyTest.PsyTestScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefCons.RefConsScoreActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FullMarkActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RefCons.ConsDetailActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.RefCons.RefDetailActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.CaseAnal.CaseAnalPDFActivity" />
        <activity android:name=".activity.Reflect.ReflectPDFActivity" />
        <activity android:name=".activity.IndCoun.IndCounPDFActivity" />
        <activity android:name=".activity.GrpCoun.GrpCounPDFActivity" />
        <activity android:name=".activity.PsyTest.PsyTestPDFActivity"/>
        <activity android:name=".activity.RefCons.RefDetailPDFActivity" />
        <activity android:name=".activity.RefCons.ConsDetailPDFActivity" />
    </application>

</manifest>